/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color);
  color: var(--accent-color);
  background-image: var(--gradient-main);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@supports (font-variation-settings: wght) {
  .page {
      font-weight: 400;
  }
}



.header {
  max-inline-size: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-weight: 400;
  font-family: var(--accent-font);
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  inline-size: clamp(375px, 100%, 700px);
}

.header__logo {
  text-decoration: none;
}

.header__logo_text {
  display: block;
  /* font-family: var(--accent-font); */
  line-height: 1;
  color: var(--accent-color);
  font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
  margin-top: clamp(7.5rem, 7.148rem + 1.5vw, 8.5rem);
  
}

.heder_tittle {
  font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  font-weight: 400;
  line-height: 1;
  font-family: var(--accent-font);
  margin-top: 20px;
  text-transform: uppercase;
}

.header__theme-menu {
  margin: 25px auto;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.theme-menu__button {
  position: relative;
  font-family: 'PressStart2P';
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  padding: 0;
  font-style: normal;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  display: block;
  background-color: currentColor;
  inline-size: 100%;
  block-size: 2px;
  scale: 0;
  transform-origin: left;
  transition: scale 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: 0.3s ease;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button:focus {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
 outline: none;
}

.theme-menu__button:focus-visible::after {
  scale: 1;
  outline: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  display: block;
  position: absolute;
  margin-block-start: 0;
  margin-inline-start: -19px;
  inline-size: 16px;
  block-size: 13px;
  animation: arrow-movement 0.5s ease-in-out alternate infinite;
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  margin: auto;
  inline-size: clamp(375px, 100%, 700px);
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  padding-block-end: 25px;
}

.card_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 5px 10px 4px;
}

.image-group {
  position: relative;
  margin: 0;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.content__picture {
  display: block;
  background-size: cover;
  background-position: center;
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1 / 1;
  /* border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color); */

}

.card_label {
  position: absolute;
  z-index: 1;
  right: clamp(0.813rem, 0.548rem + 1.13vw, 1.563rem);
  top: 25px;
  font-family: var(--accent-font);
  color: var(--accent-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: var(--text-shadow)
}

 @supports((text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {
  .card_label {
      -webkit-text-stroke: 1px var(--bg-color);
      text-stroke: 1px var(--bg-color);
      text-shadow: none;
  }
}  

.paragraph-group {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
}

.text-paragraph {
  font-size: 18px;
line-height: 21px;
font-weight: var(--main-font-weight);
}

.button_group {
  display: flex;
  gap: 7px;
  padding-inline-end: 25px;
  align-items: center;
  justify-content: flex-end;
}



.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 0px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: 0.3s ease;

}

.card__like-button {
  /* text-align: center;
  justify-content: center;
  background-color: transparent;
  align-items: center; */
  display: flex;
  inline-size: 130px;
  block-size: 38px;
  padding: 0;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 12.6px;
  mix-blend-mode: difference;
  color: var(--color-button);
  position: relative;
  z-index: 2;
}

.saturate {
  filter: saturate(30%);
}

.brightness {
  filter: contrast(2) brightness(200%);
} 

.hue {
 filter: hue-rotate(30deg);
}


.invert {
  filter: invert(0.8);
}

.sepia {
  filter: sepia(0.9);
}

.blur {
  filter: blur(10px);
}

.mix-filter {
  filter: hue-rotate(90deg) saturate(90%) brightness(120%) opacity(0.7);
}

.save {
  margin: 0 auto 103px;
  /* inline-size: clamp(19.125rem, 18.487rem + 2.72vw, 20.938rem)100%; */
  max-inline-size: 100%;
}

.floppy-icon {
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
  color: var(--color-button);
}

.save__button {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  padding: 15px 20px;
}

.main-button {
  outline: none;
  position: relative;
  font-family: var(--accent-font);
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.main-button:hover {
  cursor: pointer;
}


.main-button:focus-visible {
box-shadow: 2px 2px 0px 0px var(--accent-color);
transition: box-shadow 0.3s ease;
}


.main-button::before {
content: "";
display: block;
position: absolute;
z-index: 0;
inline-size: 100%;
block-size: 100%;
background-color: var(--accent-color);
transform: scaleX(0);
inset: 0;
transform-origin: left;
transition:  0.5s ease-in-out;
}


.main-button:hover::before {
  transform: scaleX(1);
}

.card__icon-button:hover {
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.core {
  fill: transparent;
  transition:  fill 0.3s linear;
}

.main-body {
  fill: transparent;
  transition:  fill 0.3s linear;
}


.like-icon:hover .core {
fill: var(--accent-color);
transition:  fill 0.3s linear 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition:  fill 0.3s  linear 0.5s;
}

.like-icon:active .core {
  fill: var(--color-sparks);
  transition:  fill 0.3s linear 0.3s;
}

.like-icon:active .main-body {
  fill: var(--color-sparks);
  transition:  fill 0.3s linear 0.5s;
}

.like-icon.is-liked .core {
  fill: var(--color-sparks);
  transition:  fill 0.3s linear 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--color-sparks);
  transition:  fill 0.3s linear 0.5s;
}

.like-icon.is-liked .contour {
  fill: var(--color-sparks);
  transition:  fill 0.3s linear 0.6s;
}

.like-icon.is-liked .heart {
  fill: var(--color-sparks);
  animation: scale 0.3s ease-in  0.1s alternate;
  transform-origin: center;
}

@keyframes scale {
 from {
  transform: scale(1);
 }

 to {
  transform: scale(1.5);
 }
}

.like-icon .sparks {
  fill: transparent;
}

.like-icon.is-liked .sparks {
  animation:  0.3s ease-in 0.6s alternate sparks-animation;

}
@keyframes sparks-animation {

  from {
    fill: transparent;
  }

  to {
    fill: var(--color-sparks);
  }
}

.floppy-save-icon {
  min-width: 39px;
}

.dialog {
  padding: 30px;
  max-width: 357px;
  position: fixed;
  inset: 0;
}

.dialog_content {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.button-dialog {
  block-size: 38px;
  inline-size: 100%;
  padding: 9px 17px;
  border: 2px solid var(--accent-color);
  text-transform: uppercase;
  line-height: 12.6px;
}

.dialog-text {
  font-family: var(--accent-font);
  size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
  backdrop-filter: blur(7px);
} 

/* .like-icon .sparks {
  fill: transparent;
}

.like-icon.is-liked .sparks {
  animation: sparks-animation 0.3s ease-in 0.6s;
}

@keyframes sparks-animation {
0% {
  fill: transparent;
}
  50% {
    fill: var(--color-sparks);
  }
100% {
  fill: transparent;
}
} */

@media (width <= 375px) {
  .save__button {
    flex-direction: column;
  }
  
  .floppy-icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog {
    padding: 30px 42px;
    max-width: 341px;
  }
}