/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color);
  color: var(--accent-color);
  background-image: var(--gradient-main);
  background-attachment: fixed;
  background-size: cover;
}

@supports (font-variation-settings: wght) {
  .page {
      font-weight: 400;
  }
}



.header {
  max-inline-size: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-weight: 400;
  font-family: var(--accent-font);
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.header__logo {
  text-decoration: none;
  
}

.header__logo_text {
  display: block;
  /* font-family: var(--accent-font); */
  line-height: 1;
  color: var(--accent-color);
  font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
  margin-top: clamp(7.5rem, 7.148rem + 1.5vw, 8.5rem);
  
}

.heder_tittle {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  font-family: var(--accent-font);
  margin-top: 20px;
  text-transform: uppercase;
}

.header__theme-menu {
  margin: 25px 133px 25px 154px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.theme-menu__button {
  position: relative;
  font-family: 'PressStart2P';
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  padding: 0;
  font-style: normal;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  display: block;
  position: absolute;
  margin-block-start: 0;
  margin-inline-start: -19px;
  inline-size: 16px;
  block-size: 13px;
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  margin: auto;
  inline-size: clamp(375px, 100%, 700px);
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  padding-block-end: 25px;
}

.card_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 5px 10px 4px;
}

.image-group {
  position: relative;
  margin: 0;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.content__picture {
  display: block;
  background-size: cover;
  background-position: center;
  inline-size: 100%;
  /* border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color); */

}

.card_label {
  position: absolute;
  z-index: 1;
  right: 13px;
  top: 25px;
  font-family: var(--accent-font);
  color: var(--accent-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: var(--text-shadow)
}

 @supports((text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {
  .card_label {
      -webkit-text-stroke: 1px var(--bg-color);
      text-stroke: 1px var(--bg-color);
      text-shadow: none;
  }
}  

.paragraph-group {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
}

.text-paragraph {
  font-size: 18px;
line-height: 21px;
font-weight: var(--main-font-weight);
}

.button_group {
  display: flex;
  gap: 12px;
  padding-inline-end: 25px;
  align-items: center;
  justify-content: flex-end;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  inline-size: 39px;
  block-size: 36px;
}

.card__like-button {
  text-align: center;
  justify-content: center;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  display: flex;
  align-items: center;
  inline-size: 130px;
  block-size: 38px;
  padding: 0;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
}

.saturate {
  filter: saturate(30%);
}


.footer {
  margin: 50px 34px 102px;
  max-inline-size: 100%;
}

.floppy-icon {
  inline-size: 28px;
  block-size: 28px;
  color: var(--accent-color);
}

.save_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--bg-color);
  /* margin-block-start: 52px;
  margin-block-end: 100px; */
  border: 2px solid var(--accent-color);
  inline-size: clamp(19.125rem, 100%, 20.938rem);
  padding: 15px 18px;
}

