/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
--main-font: "Inter", sans-serif;
--accent-font: "PressStart2P", fantasy;
--bg-color: #FFFFFF;
--accent-color: #000000;
--horizontal-gradient: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px);
--vertical-gradient: repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px);
--saturated-gradient:  linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
--gradient-main: var(--horizontal-gradient), var(--vertical-gradient), var(--saturated-gradient);
--text-shadow:  -1px 0 var(--bg-color), 
0 1px var(--bg-color), 
1px 0 var(--bg-color), 
0 -1px var(--bg-color);
--fill-contour: #000000;
--color-button: #FFFFFF;
--color-sparks: #FF0000;
--color-heart: #000000;
--bold-weight: 700;
--normal-weight: 400;
}